
@{
    ViewBag.Title = "Narratives";
}

<h2>Narratives</h2>
<br />
<img src="~/narrative1.png" alt="narrative1" style="width: 400px; text-align:center" />
<br />
<br />
<img src="~/narrative2.png" alt="narrative2" style="width: 400px; text-align:center" />
<br />
<br />
<img src="~/narrative3.png" alt="narrative3" style="width: 400px; text-align:center" />
<br />
<br />
<img src="~/narrative4.png" alt="narrative3" style="width: 400px; text-align:center" />
<br />
<br />
<img src="~/classDiagram.png" alt="diagram" style="width: 400px; text-align:center" />


